<div class='container'>

  <div class='blog-header'>
    <h1><%= link_to 'Blogi', root_path, style: 'color: #000; text-decoration: none;' %></h1>
  </div>

  <div class='row'>
    <div class="col-sm-12 blog-search">
      <%= form_tag posts_path, class: 'form-horizontal', method: :get do %>
        <div class='form-group'>
          <%= text_field_tag :search_term, params[:search_term], class: 'full-text' %>
          <%= submit_tag 'Buscar', name: nil, class: 'btn btn-info' %>
          <%= link_to 'novo', new_post_path, class: 'btn bnt-success' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row'>

    <div class="col-sm-8 blog-main blog-main">
      <% @posts.each do |post| %>
        <div class='blog-post'>
          <h2><%= link_to post.title, post_path(post) %></h2>
          <p><%= truncate post.description, length: 20 %><p/>
          <hr />
        </div>
      <% end %>
    </div>

    <div class='col-sm-3 col-sm-offset-1 blog-sidebar'>
      <div class="sidebar-module">
        <h4>Autores</h4>
        <ol class="list-unstyled">
          <% @authors.each do |author| %>
            <li><%= author.name %></li>
          <% end %>
        </ol>
      </div>

      <div class="sidebar-module">
        <h4>Categorias</h4>
        <ol class="list-unstyled">
          <% @categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ol>
      </div>
    </div>

  </div> <!-- row -->

</div>